* {
    margin: 0;
    padding: 0;
  }
  h2{
    font-size: 40px;
  }
  a {
    text-decoration: none;
    color: rgb(238, 190, 236);
    font-size: 25px;
  }
  ul {
    list-style: none;
  }
header  {
  height: 100vh;
  background-color:rgb(190, 114, 218); 
}
 .navbar {
  background-color:#7141d0;
  border-bottom: 3px solid black; 
  position: fixed;
  width:100%;
  padding: 1.5rem 2rem ;
}
 .navbar nav ul{
  display: flex;
}
 .navbar nav ul a{
margin:0 45px;
font-weight: 600;
}
.header-content{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  max-width: 1100px;
  margin: auto;
  height: 100%;
  align-items: center;
  padding: 5rem 2rem;
}
.header-content img{
width: 450px;
height: 450px;
border-radius: 50%;
}
.header-text h1{
  font-size: 60px;
  font-weight: 700;
}
.container {
  max-width: 1100px;
  margin: auto;
}
.container h1{
  font-size: 60px;
}
.container pre,ul,li{
  font-size: 20px;
  padding: 4px;
}
#about {
  background: rgb(197, 140, 237);
  padding: 6rem 2rem;
  height: 100vh;
}
#contact {
  background: #cd9ef6;
  padding: 5rem ;
  height: 70vh;
}
form {
  width: 50%;
  margin-top: 100px;
}
form input,
textarea {
  display: block;
  width: 100%;
  padding: 20px 15px;
  font-size: 20px;
  margin: 30px 150px;
  border: none;
  background-color: #f5f3f6;
}
.btn {
  display: block;
  height:60px;
  width: 70px;
  border-radius: 35%;
  font-size: 20px;
  margin:  20px 350px;
  border: 3px solid rgb(126, 30, 146);
  margin-top: 20px;
  background: rgb(237, 182, 241);
}
a {
  color: red;          
  text-decoration: none;
  margin-right: 15px;  
}



footer {
  background-color: #40405f;
  text-align: center;
  color: #e6d7d7;
  padding: 5px ;
}
footer p{
  font-size: 5px ;
}